body{
    margin: 0;
}

.container{
    max-width: 100%;
    margin: 1rem 2rem;
}

.container-nav{
    display: flex;
    justify-content: space-between;
}

header{
    background-image: linear-gradient(to left, rgba(203, 52, 150, 0), rgba(203, 52, 150,1));
    padding: 0.1em 0;
}

h1{
    margin: 0;
    font-weight: 500;
    font-family: "Comfortaa";
    font-size: 3.5rem;
}

i{
    padding: 0.5rem;
}

.subtitle{
    font-family: "Ubuntu";
    text-transform: uppercase;
    /*font-size: 1rem;*/
    font-size:calc(0.5rem + 0.5vw);
    word-spacing: 0.25rem;
    letter-spacing: 0.2rem;
    margin-top: 20px;
    text-align: center;
}

span{
    font-family: "Rock Salt";
    color: #651a4b;
    font-weight: bold;
    word-spacing: 0.01rem;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav li{
  margin: 0 1em;
}

nav a{
   text-transform: uppercase;
   font-family: "Ubuntu";
   text-decoration: none;
   letter-spacing: 0.1rem;
   color: black;
   font-weight: 700;
}

nav a:hover{
  border-bottom:  solid #651a4b;
  border-bottom-width: 3px;
  padding-bottom: 5px;
  transition: ease-in-out 250ms;
}

.current{
    border-bottom: solid #651a4b;
    border-bottom-width: 3px;
    padding-bottom: 5px;
}
  
.current:hover{
      transition: none;
}

.heading{
    font-family: "Comfortaa";
    font-size: 2rem;
    text-align: center;
    padding: 50px 0;
}

.heading h2{
    margin: 0;
}

.testimonials-container{
    min-height: 100vh;
    margin: 0 auto 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards{
    margin: 1rem;
    padding: 1rem;
    background: rgba(203, 52, 150, 0.3);
    border-radius: 2rem;
    width: 356px;
    height: 335px;  
}

.cards:hover{
    box-shadow: 0 0 2rem rgba(203, 52, 150,1);
    transform: scale(1.1);
    transition: 1s;
}

.cards img{
    position: relative;
    top: -40px;
    left: 20px;
    border-radius: 50%;
    border: 10px solid white;
}

.cards h2, .cards p{
    position: relative;
    top: -40px;
    text-align:center;
}

.cards h2{
    font-family: "Comfortaa";
    font-weight: 800;
    font-size: 1.9rem;
}

.cards p{
    font-family: "Ubuntu";
    font-size: 1.2rem;
    margin-bottom: 0;
}

footer, i{
    text-align: center;
}
  
footer{
      background-image: linear-gradient(to left, rgba(203, 52, 150, 0), rgba(203, 52, 150,1));
      padding: 0.75rem;
}
  
footer p{
      font-family: "Ubantu";
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 600;
}
  
footer i{
      color:black;
}
  
footer i:hover{
      color: white;
}
  